<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="shopping-list">
        <div class="header">
            <h1>{{ header.toLocaleUpperCase() }}</h1>
            <button v-if="state === 'default'" @click="changeState('edit')" class="btn btn-primary">Add Item</button>
            <button v-else class="btn btn-cancel" @click="changeState('default')">Cancel</button>
        </div>
        <div v-if="state === 'edit'" class="add-item-form">
            <input type="text" v-model="newItem" @keyup.enter="saveItem">
            <button class="btn btn-primary" :disabled="newItem.length === 0" @click="saveItem">Save Item</button>
        </div>
        <ul>
            <li v-for="item in reverseList" @click="togglePurchased(item)" :class="{strikeout: item.purchased}">
                {{ item.label }}</li>
        </ul>
        <p v-if="items.length === 0">Congrats! You've bought all the items!</p>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
        var shoppingList = new Vue({
            el: '#shopping-list',
            data: {
                header: 'shopping list app',
                items: [
                    {
                        label: 'Melon',
                        purchased: false,
                    },
                    {
                        label: 'Apple',
                        purchased: true,
                    },
                    {
                        label: 'Orange',
                        purchased: false,
                    },
                ],
                newItem: '',
                state: 'default',
            },
            methods: {
                saveItem() {
                    this.items.push({
                        label: this.newItem,
                        purchased: false,
                    });
                    this.newItem = '';
                },
                changeState(newState) {
                    this.state = newState;
                },
                togglePurchased(item) {
                    item.purchased = !item.purchased;
                }
            },
            computed: {
                reverseList() {
                    return this.items.slice(0).reverse();
                }
            },
        });
    </script>
</body>

</html>